   /*Megan Britt
	Cheech's Pizza
	09/29/17
	*/
body {
  padding-top: 20px;
  padding-bottom: 30px;
  background-image: url("background.jpg");
}
.form-group{
	padding:10px;
	padding-bottom:10px;
}
form-group .btn btn-primary{
	padding-bottom:20px;
}
.jumbotron{
	background-color:black;
	color: white;
	
}
